---
---

// Default mixins and settings -----------------
@import "mixins";
@import "settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url({{site.baseurl}}/reveal.js/lib/font/source-sans-pro/source-sans-pro.css);

$themeColor: #2a76dd;


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 30px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$headingColor: white;
$headingBackgroundColor: $themeColor;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "theme";
// ---------------------------------------------

.titlepage div.title {
    font-size: 2.5em;
    color: white;
    background-color: $themeColor;
    //background-color: rgba(0,0,0, 0.4);
    margin-top: 10%;
    margin-bottom: 10%;
}

.titlepage div.author {
    color: white;
    background-color: rgba(0,0,0, 0.4);
}

.titlepage div.institution {
    color: white;
    background-color: rgba(0,0,0, 0.4);
}

.titlepage div.meeting {
    margin-top: 10%;
    color: white;
    background-color: rgba(0,0,0, 0.4);
}

.spaced > li:not(:first-child) {
        margin-top: 1em;
}

.reveal p {
    text-align:left;
}

.reveal section img {
    border: none;
    box-shadow: none;
}
